<a href="/" class="text-dark"><i class="fa-solid fa-angles-left"></i>Logout</a>
<div class="button-container">
    <a href="/teacher/viewall" class="loginbtn">View All Students</a>
    <a href="/teacher/add" class="loginbtn">Add Student</a>
</div>