<a href="/" class="text-dark"><i class="fa-solid fa-angles-left"></i>Back</a>
<h3>Teacher Login</h3>
<div class="teachLog">
  <form method="POST" class="teachForm">
    <div class="form-group">
      <label for="email" class="form-label">Email</label>
      <input type="email" name="email" class="form-control" value="" />
    </div>
    <div class="form-group">
      <label for="Password" class="form-label">Passsword</label>
      <input type="password" name="password"  class="form-control" id="Password">
    </div>
    <a><button type="submit" class="loginbtn">Submit</button></a>
  </form>
</div>
